@model App.BLL.DTO.Intern

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Intern</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InternType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InternType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudyProgram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudyProgram)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
