@model AddMenteeViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <h2 class="text-center mb-3">@App.Resources.Add.Mentee.AddMentee</h2>   
            <div class="card">
                <div class="card-body">
                    <section>
                        <form id="menteeForm" method="post">
                            <div class="row">
                                <div class="col">
                                    <div class="text-center mb-2">
                                        <div class="table-title">
                                            <h6>@App.Resources.Add.Mentee.EmployeeIntern</h6> 
                                            <hr class="mx-auto mb-1">
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="form-floating">
                                                            <select asp-for="MenteeType" id="menteeTypeSelect" class="form-select border border-dark-subtle">
                                                                <option selected="selected"></option>
                                                                <option value="Intern">@App.Resources.Add.Mentee.OptionIntern</option>
                                                                <option value="Employee">@App.Resources.Add.Mentee.OptionEmployee</option>
                                                            </select>
                                                            <label for="menteeTypeSelect">@App.Resources.Add.Mentee.MenteeType</label>
                                                            <span asp-validation-for="MenteeType" class="text-danger"></span>
                                                        </div>
                                                        <br>
                                                        
                                                        <div id="internFields" style="display: none;">
                                                            <div class="form-floating">
                                                                <select asp-for="InternType" id="internTypeSelect" class="form-select border border-dark-subtle">
                                                                    <option selected="selected"></option>
                                                                    <option value="Vocational school (gep)">@App.Resources.Add.Mentee.OptionVocationalSchool</option>
                                                                    <option value="Töötukassa">@App.Resources.Add.Mentee.Töötukassa</option>
                                                                </select>
                                                                <label for="internTypeSelect">@App.Resources.Add.Mentee.MenteeType</label>
                                                                <span asp-validation-for="InternType" class="text-danger"></span>
                                                            </div>
                                                            <br/>
                                                            <div class="form-floating">
                                                                <select asp-for="InternSupervisorId" id="internSupervisorSelect" class="form-select border border-dark-subtle">
                                                                    <option selected="selected"></option>
                                                                    @foreach (var internSupervisor in Model.InternSupervisors)
                                                                    {
                                                                        <option value="@internSupervisor.Id ">@internSupervisor.FullName</option>
                                                                    }
                                                                </select>
                                                                <label for="internSupervisorSelect">@App.Resources.Add.Mentee.InternSupervisor</label>
                                                                <span asp-validation-for="InternSupervisorId" class="text-danger"></span>
                                                            </div>
                                                            <br/>
                                                            <div class="form-floating">
                                                                <select asp-for="InternFactorySupervisorId" id="factorySupervisorSelect1" class="form-select border border-dark-subtle">
                                                                    <option selected="selected"></option>
                                                                    @foreach (var factorySupervisor in Model.FactorySupervisors)
                                                                    {
                                                                        <option value="@factorySupervisor.Id">@factorySupervisor.FullName</option>
                                                                    }
                                                                </select>
                                                                <label for="factorySupervisorSelect1">@App.Resources.Add.Mentee.FactorySupervisor</label>
                                                                <span asp-validation-for="InternFactorySupervisorId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                        
                                                        <div id="employeeFields" style="display: none;">
                                                            <div class="form-floating">
                                                                <select asp-for="EmployeeType" id="employeeTypeSelect" class="form-select">
                                                                    <option selected="selected"></option>
                                                                    <option value="Full-time">@App.Resources.Add.Mentee.Full_time</option>
                                                                    <option value="Rental">@App.Resources.Add.Mentee.Rental</option>
                                                                    <option value="Probation">@App.Resources.Add.Mentee.Probation</option>
                                                                </select>
                                                                <label for="employeeTypeSelect">@App.Resources.Add.Mentee.MenteeType</label>
                                                                <span asp-validation-for="EmployeeType" class="text-danger"></span>
                                                            </div>
                                                            <br/>
                                                            <div class="form-floating">
                                                                <select asp-for="EmployeeFactorySupervisorId" id="factorySupervisorSelect" class="form-select border border-dark-subtle">
                                                                    <option selected="selected"></option>
                                                                    @foreach (var factorySupervisor in Model.FactorySupervisors)
                                                                    {
                                                                        <option value="@factorySupervisor.Id">@factorySupervisor.FullName</option>
                                                                    }
                                                                </select>
                                                                <label for="factorySupervisorSelect">@App.Resources.Add.Mentee.FactorySupervisor</label>
                                                                <span asp-validation-for="EmployeeFactorySupervisorId" class="text-danger"></span>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="text-center mb-2">
                                        <div class="table-title">
                                            <h6>@App.Resources.Add.Mentee.MenteeInfo</h6>
                                            <hr class="mx-auto mb-1">
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-floating">
                                                        <input asp-for="FirstName" id="firstName" class="form-control border-dark-subtle"/>
                                                        <span asp-validation-for="FirstName" class="text-danger"></span>
                                                        <label for="firstName">@App.Resources.Add.Mentee.FirstName</label>
                                                    </div>
                                                    <br>
                                                    <div class="form-floating">
                                                        <input asp-for="LastName" id="lastName" class="form-control border-dark-subtle"/>
                                                        <span asp-validation-for="LastName" class="text-danger"></span>
                                                        <label for="lastName">@App.Resources.Add.Mentee.LastName</label>
                                                    </div>
                                                    <br>
                                                    <div class="form-floating">
                                                        <input asp-for="Email" type="email" id="email" class="form-control border-dark-subtle"/>
                                                        <span asp-validation-for="Email" class="text-danger"></span>
                                                        <label for="email">@App.Resources.Add.Mentee.Email</label>
                                                    </div>
                                                    <br>
                                                    <div class="form-floating">
                                                        <input asp-for="PersonalCode" id="idCode" class="form-control border-dark-subtle"/>
                                                        <span asp-validation-for="PersonalCode" class="text-danger"></span>
                                                        <label for="idCode">@App.Resources.Add.Mentee.IdCode</label>
                                                    </div>
                                                    <br>
                                                    <div class="form-floating">
                                                        <input asp-for="Profession" id="profession" class="form-control border-dark-subtle"/>
                                                        <span asp-validation-for="Profession" class="text-danger"></span>
                                                        <label for="profession">@App.Resources.Add.Mentee.Profession</label>
                                                    </div>
                                                    <br/>
                                                    <div class="form-floating">
                                                        <input asp-for="MenteeFromDate" type="date" id="menteeFromDate" class="form-control border-dark-subtle" placeholder="Mentee from date" aria-label="Mentee from date"/>
                                                        <span asp-validation-for="MenteeFromDate" class="text-danger"></span>
                                                        <label for="menteeFromDate">@App.Resources.Add.Mentee.MenteeFromDate</label>
                                                    </div>
                                                    <br/>
                                                    <div class="form-floating">
                                                        <input asp-for="MenteeUntilDate" type="date" id="menteeUntilDate" class="form-control border-dark-subtle" placeholder="Mentee until date" aria-label="Mentee until date"/>
                                                        <span asp-validation-for="MenteeUntilDate" class="text-danger"></span>
                                                        <label for="menteeUntilDate">@App.Resources.Add.Mentee.MenteeUntilDate</label>
                                                    </div>
                                                    <br/>
                                                    <div class="form-floating">
                                                        <input asp-for="MenteeTotalHours" type="email" id="menteeTotalHours" class="form-control border-dark-subtle"/>
                                                        <span asp-validation-for="MenteeTotalHours" class="text-danger"></span>
                                                        <label for="menteeTotalHours">@App.Resources.Add.Mentee.MenteeTotaHours</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="text-center mb-2">
                                        <div class="table-title">
                                            <h6>@App.Resources.Add.Mentee.AssignMentor</h6>
                                            <hr class="mx-auto mb-1">
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <div class="form-floating">
                                                        <select asp-for="ChosenMentorId" id="mentorSelect" class="form-select border border-dark-subtle">
                                                            <option selected="selected"></option>
                                                            @foreach (var mentor in Model.Mentors)
                                                            {
                                                                <option value="@mentor.Id">@mentor.FirstName @mentor.LastName</option>
                                                            }
                                                        </select>
                                                        <label for="mentorSelect">@App.Resources.Add.Mentee.Mentors</label>
                                                        <span asp-validation-for="ChosenMentorId" class="text-danger"></span>
                                                    </div>
                                                    <br>
                                                    <div class="form-floating">
                                                        <input asp-for="MentorFromDate" type="date" id="mentorFromDate" class="form-control border-dark-subtle" placeholder="Mentor from date" aria-label="Mentor from date"/>
                                                        <span asp-validation-for="MentorFromDate" class="text-danger"></span>
                                                        <label for="mentorFromDate">@App.Resources.Add.Mentee.MenteeFromDate</label>
                                                    </div>
                                                    <br/>
                                                    <div class="form-floating">
                                                        <input asp-for="MentorUntilDate" type="date" id="mentorUntilDate" class="form-control border-dark-subtle" placeholder="Mentor until date" aria-label="Mentor until date"/>
                                                        <span asp-validation-for="MentorUntilDate" class="text-danger"></span>
                                                        <label for="mentorUntilDate">@App.Resources.Add.Mentee.MenteeUntilDate</label>
                                                    </div>
                                                    <br/>
                                                    <div class="form-floating">
                                                        <input asp-for="MentorTotalHours" type="email" id="mentorTotalHours" class="form-control border-dark-subtle"/>
                                                        <span asp-validation-for="MentorTotalHours" class="text-danger"></span>
                                                        <label for="mentorTotalHours">@App.Resources.Add.Mentee.MentorTotalHours</label>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group text-center mb-0">
                                <div class="d-flex justify-content-center">
                                    <div class="btn-group" role="group" aria-label="Add buttons">
                                        <button type="button" class="btn btn-primary px-4 py-2 rounded-3" 
                                                data-bs-toggle="modal" data-bs-target="#staticBackdrop">@App.Resources.Add.Mentee.AddCreateUser</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>  
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 justify-content-center" id="staticBackdropLabel">@App.Resources.Add.Mentee.Notification</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>@App.Resources.Add.Mentee.Message</p>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" onclick="setAction('AddMentee')" class="btn btn-primary px-3 py-1 rounded-3 justify-content-center" >Ok</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script>
    document.getElementById("menteeTypeSelect").addEventListener("change", function() {
        const selectedValue = this.value;

        document.getElementById("internFields").style.display = "none";
        document.getElementById("employeeFields").style.display = "none";

        if (selectedValue === "Intern") {
            document.getElementById("internFields").style.display = "block";
        } else if (selectedValue === "Employee") {
            document.getElementById("employeeFields").style.display = "block";
        }
    });
    
    function setAction(actionName) {
            const form = document.getElementById('menteeForm');
            form.action = actionName;
            form.submit();
        }
</script>

<style>
    .container {
        margin-top: 50px;
    }
    .card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .card-body {
        padding: 1rem;
    }
    .form-floating {
        margin-bottom: 0;
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
    .modal-title {
            font-size: 1rem;
    }
    .modal-body {
        padding: 0.75rem;
    }
    .table td, .table th {
            border-bottom: none !important;
        }
</style>
