@model MenteeViewModel

<div class="container mt-3">
    <div class="row justify-content-center">
        <div class="col-md-8 mb-3">
            <form method="get" asp-controller="Mentee1" asp-action="EmployeeMentee">
                <div class="input-group">
                    <select asp-for="FilterType" class="custom-select border border-1 rounded-start-3 border-primary-subtle" style="background-color: white;">
                        <option value=""></option>
                        <option value="Mentee's name">@App.Resources.Add.Mentee.Mentee_sName</option>
                        <option value="Profession">@App.Resources.Add.Mentor.Profession</option>
                        <option value="Mentee's type">@App.Resources.Add.Mentee.Mentee_sType</option>
                    </select>
                    <input asp-for="FilterRequest" class="form-control border-primary-subtle" placeholder="@App.Resources.Documents.Documents.Search">
                    <button class="btn btn-primary rounded-end-3" type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                        </svg>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center column-gap-5">
        <div class="col-lg-12 mb-4">
            <h2 class="text-center mb-3">@App.Resources.Add.Mentee.EmployeeMentees</h2>
            <div class="card border rounded-3">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <colgroup>
                                <col style="width: 15%;">
                                <col style="width: 8.5%;">
                                <col style="width: 8.5%;">
                                <col style="width: 25%;">
                                <col style="width: 20%;">
                                <col style="width: 23%;">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>@App.Resources.Add.Mentor.FullName</th>
                                    <th>@App.Resources.Add.Mentor.Profession</th>
                                    <th>@App.Resources.Add.Mentee.Type</th>
                                    <th>@App.Resources.Add.Mentee.MentorshipUntil_from</th>
                                    <th>@App.Resources.Add.Mentee.Mentee_sMentor</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var mentee in @Model.EmployeeMentees)
                                {
                                    <tr>
                                        <td>@mentee.FirstName @mentee.LastName</td>
                                        <td>@mentee.Profession</td>
                                        <td>@mentee.EmployeeType</td>
                                        <td>
                                            @foreach (var employeeMentorship in Model.EmployeeMentorships)
                                            {
                                                if (employeeMentorship.EmployeeId.Equals(mentee.Id))
                                                {
                                                    <div>@employeeMentorship.FromDate - @employeeMentorship.UntilDate / @employeeMentorship.TotalHours @App.Resources.Add.Mentee.Hours</div>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @foreach (var mentors in Model.MenteesMentor)
                                            {
                                                if (mentee.Id.Equals(mentors.Key))
                                                {
                                                    foreach (var mentorId in mentors.Value)
                                                    {
                                                        foreach (var mentor in Model.Mentors)
                                                        {
                                                            if (mentor.Id.Equals(mentorId))
                                                            {
                                                                if (mentors.Value.Count == 1 || mentorId.Equals(mentors.Value.Last()))
                                                                {
                                                                    <div>@mentor.FirstName @mentor.LastName @App.Resources.Add.Mentee._currently_active_</div>
                                                                }
                                                                else
                                                                {
                                                                    <div>@mentor.FirstName @mentor.LastName</div>
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        </td>
                                        <td>
                                            <a asp-controller="Details" asp-action="EmployeeMentee" asp-route-employeeId="@mentee.Id" class="btn btn-primary">@App.Resources.Add.Mentee.Edit</a>
                                            <a asp-controller="Add" asp-action="DocumentEmployee" asp-route-menteeId="@mentee.Id" class="btn btn-primary">@App.Resources.Add.Mentee.GenerateDocument</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .container {
        margin-top: 50px;
    }
    .card {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    .card-body {
        padding: 0;
    }
    .table th,
    .table td {
        border: none;
    }
    .table th {
        background-color: #f8f9fa;
    }
    .table tr {
        border-bottom: 1px solid #acacac;
    }
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
</style>

<script>
    async function handleEditButtonClick(menteeId) {
        try {
            const response = await fetch('/api/v1.0/Identity/Account/RefreshTokenData?expiresInSeconds=3600', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                }
            });

            if (response.ok) {
                // Redirect to the desired action after successful API call
                window.location.href = `/Details/EmployeeMentee?employeeId=${menteeId}`;
            } else {
                console.error('Failed to refresh token data');
            }
        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>